body {
	//background-color: darkgrey;
	//color: darkred;
	text-shadow: 3px 3px 10px lightgray;
	font-size: 24px;
	//font-weight: bold;
	text-align: center;
	padding: 60px 0;
	vertical-align: bottom;
}



h1 {
	font-weight: bolder;
}

h2 {
	font-weight: bold;
}

h3 {
	font-weight: normal;
}

#next-spawn-time {
	font-weight: bold;
	color: dodgerblue;
	font-size: 36px;
}

#last-spawn-time {
	font-weight: bold;
	color: dodgerblue;
	font-size: 36px;
}