body {
	//background-color: darkgrey;
	//color: darkred;
	text-shadow: 3px 3px 10px lightgray;
	font-size: 24px;
	//font-weight: bold;
	text-align: center;
}

h1 {
	font-weight: bolder;
}

h2 {
	font-weight: bold;
}

h3 {
	font-weight: normal;
}

